.touch {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 151px;

  .container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__blur_middle {
    position: absolute;
    background-image: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%), url(../images/touchBlurMiddle.svg);
    background-repeat: no-repeat;
    width: 238px;
    height: 340px;
    opacity: 0.3;
    filter: blur(100px);
    transform: rotate(6deg);
    right: 0px;
    top: 761px;
  }

  &__text {
    position: relative;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 11px 0px 0px 0px;
    margin-bottom: 83px;
    &::before{
      content: '';
      position: absolute;
      background-image: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%), url(../images/touchBlurTop.svg);
      background-repeat: no-repeat;
      width: 250px;
      height: 250px;
      opacity: 0.3;
      filter: blur(100px);
      transform: rotate(6deg);
      @include position(-46px, 0px, 0px, 0px);
      z-index: 1;
    }

  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 91px;
    z-index: 10;
  }

  &__form_input {
    width: 821px;
    border: 1px solid #5C5C5C;
    border-radius: 10px;
    padding: 33px 0px 32px 23px;
    margin-bottom: 23px;

  }

  &__form_input::placeholder {
    @include fonts('Noto-Sans', 18px, 25px, 400, #BFBFBF);
  }

  &__input_city {
    width: 397px;
  }

  &__input_city:first-child {
    margin-right: 21px;
  }

  &__input_message {
    margin-bottom: 60px;
    padding-bottom: 148px;
  }

  &__form_button {
    @include fonts('Montserrat-Bold', 24px, 29px, 700, $white);
    max-width: 398px;
    background: $blackbg;
    border: 1px solid $white;
    border-radius: 10px;
    padding: 22px 167px 27px 167px;

    &:hover {
      background-color: $hover;
    }

  }

  &__social_title {
    @include fonts('Noto-Sans-Bold', 24px, 33px, 700, $white);
    margin-bottom: 32px;
  }

  &__social_img:hover {
    background-color: $hover;
    border-radius: 10px;
  }

  &__social_link:not(:last-child) {
    margin-right: 56px;
  }

  @media screen and (max-width: 992px){
    &__social_block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__social_link:not(:last-child) {
      margin: 0px 0px 22px 0px;
      z-index: 6;
    }

  }

  @media(max-width:860px) {
    & {
      margin-bottom: 62px;
    }

    &__form {
      margin-bottom: 74px;
    }

    &__form_input {
      width: 345px;
      border: 1px solid #5C5C5C;
      border-radius: 10px;
      padding: 22px 0px 17px 10px;
      margin-bottom: 16px;
      z-index: 6;
    }

    &__form_input::placeholder {
      @include fonts('Noto-Sans', 16px, 22px, 400, #BFBFBF);
    }

    &__form_city {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__input_city:first-child {
      margin-right: 0px;
    }

    &__input_message {
      margin-bottom: 40px;
      padding-bottom: 101px;
    }


    &__text {
      margin-bottom: 50px;
    }

    &__form_button {
      max-width: 344px;
      padding: 22px 138px 25px 141px;

    }

    &__social_title {
      letter-spacing: 0.03em;
      margin-bottom: 45px;
      z-index: 6;
    }


  }

  @media  screen and (max-width: 400px){
    &__form_input {
      width: 330px;
    }

    &__form_button {
      max-width: 340px;
      padding: 22px 125px 25px 125px;


    }



  }

  @media  screen and (max-width: 360px){
    &__form_input {
      width: 280px;
    }

    &__form_button {
      max-width: 340px;
      padding: 22px 90px 25px 90px;


    }
  }

}

.subtitle__section {
  z-index: 6;
}
